.registering {
  width:550px;
    margin:auto;
height:75.5vh;
align-content: center;
vertical-align: center;
/* display: flex; */
  justify-content: center;
  align-items: center;
}
.fileUpload{
    margin:10px;
}
.alert{
  margin:12px;
}