.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cr{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input{
    margin:2px;
    width:17.6rem;
}
.a{
    border: 4px;
    background-color:#a0e557;
    border-radius: 5px;
    padding: 2px;
    height: 35px;
    width:120px;
    color:black;
}
.schedule{
    text-align:center;
    margin: auto;
    color:#a0e557;
}
.check{
    width:15px;
    height:15px;
    margin:3px;
}
#saveTrip{
    align-items: center;
    padding-right: 45vw;
    padding-left: 45vw;
    padding-top:20px ;
    margin: auto;
    align-content: center;
}
.buton{
    width: 250px;
    height:45px;
    font-size: 20px;
    border: 4px;
    background-color:#dc3545;
    border-radius: 5px;
    padding: 2px;
    color:white;
}
.butn{
    font-size: 19px;
    border: 4px;
    background-color:#dc3545;
    border-radius: 5px;
    padding: 2px;
    color:white;
    margin-top: 10px;
}
#membersDisplay{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding :10px;
}
.card{
    border-color: black;
}
#enter{
    margin: 0px;
        padding: 0px;
        width: 100%;
        outline: none;
        height: 30px;
        border-radius: 5px;
}
#clear{
    position: absolute;
        top: 0;
        border-radius: 5px;
        right: 0px;
        z-index: 2;
        border: none;
        top: 2px;
        height: 30px;
        cursor: pointer;
        color: white;
        background-color: #1e90ff;
        transform: translateX(2px);
}

.top{
    margin-top: 10px;
}
